# where are the ckpts stored?
skip_v1: True
annotator_ckpts_path: "./ckpts"

example 2
--------------

# where are the ckpts stored?
skip_v1: True
annotator_ckpts_path: "ControlNet/annotator/models"

#you can use relative paths here
